body{
  font: 14px Helvetica;
  transition-delay: 0s;
}

h2{
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h3,h4{
  text-decoration: underline;
}

#bar-badge{
  font-size: 30px;
}

#top-bar {
  text-align: center;
  background: #FFFFFF;
  position: relative;
  zoom: 1;
  width: 100%;
  z-index: 6000;
  padding: 20px 0 20px;
  color: black;
}

#page-wrap {
  width: 600px;
  margin: 80px auto;
  background: white;
  padding: 20px;
}

#colours-list{
  padding: 0px;
  margin: 0px;
  background-color: white;
  display:grid;
  grid-template-columns: 100px 100px 100px 100px ;
  grid-gap: 10px;
  justify-content: center;


}
#colour-item{
  display: inline-block;
}

.square, .randomColour{
  width: 50px;
  height: 50px;
  padding: 10px;
  margin:10px;
  border: 1px solid black;
}


.square:hover{
  border: 1px solid yellow;

}
