
/* no longer needed .square {
  height: 50px;
  width: 50px;
  border: 1px solid black;
} */

body{
      font: 14px Helvetica;
      transition: 5s cubic-bezier(1, 1, 1, 1);
    	transition-delay: 0s;
    }

#bar-badge{
  font-size: 30px;
}

#top-bar {
    text-align: center;
    background: #FFFFFF;
    position: relative;
    zoom: 1;
    width: 100%;
    z-index: 6000;
    padding: 20px 0 20px;
    color: black;
  }

#page-wrap {
      width: 600px;
      margin: 80px auto;
      background: white;
      padding: 20px;
    }

#colours-list{
  padding: 0px;
  margin: 0px;
}
